@* Cardinal Resize Handles *@
<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-north-display"
     style="@GetNorthResizeHandleCssStyling()">

</div>

<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-east-display"
     style="@GetEastResizeHandleCssStyling()">

</div>

<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-south-display"
     style="@GetSouthResizeHandleCssStyling()">

</div>

<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-west-display"
     style="@GetWestResizeHandleCssStyling()">

</div>

@* Diagonal Resize Handles *@
<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-north-east-display"
     style="@GetNorthEastResizeHandleCssStyling()">

</div>

<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-south-east-display"
     style="@GetSouthEastResizeHandleCssStyling()">

</div>

<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-south-west-display"
     style="@GetSouthWestResizeHandleCssStyling()">

</div>

<div class="hfd_transformative-resize-handle-display hfd_transformative-resize-handle-north-west-display"
     style="@GetNorthWestResizeHandleCssStyling()">

</div>