@using Fluxor.Blazor.Web.Components
@using HunterFreemanDev.RazorClassLibrary.Panel

@inherits FluxorComponent

<div class="hfd_settings-display">
    Settings Display

    <PanelDisplay>
        <PanelTitleRenderFragment Context="isExpanded">
            Change Theme @PanelDisplay.GetDefaultExpansionIcons(isExpanded)
        </PanelTitleRenderFragment>

        <PanelBodyRenderFragment>
            <div>
                Current Theme: @ThemeState.Value.ThemeRecord.ThemeDisplayName (ThemeId: @ThemeState.Value.ThemeRecord.ThemeId)
            </div>

            @foreach(var themeRecord in ThemesProvider.Value.ThemeRecords)
            {
                <HunterFreemanDev.RazorClassLibrary.Theme.ThemeDisplay ThemeRecord="themeRecord" />
            }
        </PanelBodyRenderFragment>
    </PanelDisplay>

    <PanelDisplay>
        <PanelTitleRenderFragment Context="isExpanded">
            Change Theme @PanelDisplay.GetDefaultExpansionIcons(isExpanded)
        </PanelTitleRenderFragment>

        <PanelBodyRenderFragment>
            <div>
                Current Theme: @ThemeState.Value.ThemeRecord.ThemeDisplayName (ThemeId: @ThemeState.Value.ThemeRecord.ThemeId)
            </div>

            @foreach(var themeRecord in ThemesProvider.Value.ThemeRecords)
            {
                <HunterFreemanDev.RazorClassLibrary.Theme.ThemeDisplay ThemeRecord="themeRecord" />
            }
        </PanelBodyRenderFragment>
    </PanelDisplay>
</div>